
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="#" method="post">
{% csrf_token %}
    <label for="username">username</label><br>
{% endfor %}
<input type="submit" value="Please search for a username">
</form>