<p>Welcome  : {{username}} ! </p>
{% if track_list %}
    <ul>
        <p>{{title}}  </p>
    {% for track  in track_list %}    
        <li><a href="{{link}}">{{  track }}</a></li>
    {% endfor %}
    </ul>
    
{% else %}
    <p>No tracks are available.</p>
{% endif %}